
body {
    @apply font-sans;
}

.wp-block{
    @apply max-w-screen-xl;
}

.wp-block[data-align=wide] {
    @apply max-w-screen-xl;
}

.wp-block[data-align=full] {
    @apply max-w-full;
}

/* ハンバーガーアイコンのアニメーション */
#menuToggle.open span:nth-child(1) {
    transform: rotate(45deg) translate(0.3rem, 0.3rem);
}

#menuToggle.open span:nth-child(2) {
    opacity: 0;
}

#menuToggle.open span:nth-child(3) {
    transform: rotate(-45deg) translate(0.3rem, -0.3rem);
}

/* 共通スタイル */
.top_mv_icon div p::before {
    content: '';
    position: absolute; /* 絶対位置を指定 */
    left: 1rem; /* divの左端から2rem離す */
    width: 2.5rem;
    height: 2.5rem;
    background-size: cover;
    background-position: center;
    margin-right: 1rem; /* アイコンとテキストの間に余白 */
}

/* 各要素に分岐スタイル */
.top_mv_icon div:nth-child(1) p::before {
    background-image: url('../img/icon1.svg');
}
.top_mv_icon div:nth-child(2) p::before {
    background-image: url('../img/icon3.svg');
}
.top_mv_icon div:nth-child(3) p::before {
    background-image: url('../img/icon4.svg');
}
.top_mv_icon div:nth-child(4) p::before {
    background-image: url('../img/icon7.svg');
}
.top_mv_icon div:nth-child(5) p::before {
    background-image: url('../img/icon6.svg');
}
.top_mv_icon div:nth-child(6) p::before {
    background-image: url('../img/icon2.svg');
}
.top_mv_icon div:nth-child(7) p::before {
    background-image: url('../img/icon8.svg');
}
.top_mv_icon div:nth-child(8) p::before {
    background-image: url('../img/icon5.svg');
}
@media (max-width: 1028px) {
    .top_mv_icon div p::before {
        content: '';
        position: absolute; /* 絶対位置を指定 */
        left: 0.8rem; /* divの左端から2rem離す */
        width: 2rem;
        height: 2rem;
        background-size: cover;
        background-position: center;
        margin-right: 0; /* アイコンとテキストの間に余白 */
    }
}
@media (max-width: 767px) {
.top_mv_icon div p::before {
    content: '';
    display:none;
}
}
.fade-in-on-scroll {
    opacity: 0; /* 初期状態は透明 */
    transition: opacity 1s ease-out, transform 1s ease-out; /* 不透明度と位置のアニメーション */
    transform: translateY(20px); /* 少し下から始める */
}


/*****************　下向き矢印（横幅いっぱい）　*****************/
  .triangle-wrapper3 {
    width: 100%;
    padding-top: 300px;
    position: relative;
    overflow: hidden;
    background-color:#fff;
  }
  .triangle-wrapper3::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 50%;
    border-top: 120px solid #f1f1f1;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    transform: translateX(-50%);
  }
  @media (max-width: 768px) {
    .triangle-down-center-full-width3 {
      border-top: 50px solid #f1f1f1; /* 任意の高さ */
    }
    .triangle-wrapper3 {
        padding-top: 200px;
      }
  }


#contact-form-area-main .smf-action .smf-button-control__control {
font-size: 1.5rem !important;
background:#1B1B1B !important;
color:white !important;
font-weight:700 !important;
width:100% !important;
padding:20px 0 !important;
margin:0 !important;
display:flex !important;
justify-content: center !important;
align-items: center !important;
transition-duration: 300ms !important;
border-radius:0 !important;
} 
#contact-form-area-main .smf-action .smf-button-control__control:hover {
background:#F1F1F1 !important;
color:#1B1B1B !important;
}
#contact-form-area-main .smf-action .smf-button-control__control[data-action="back"]  {
background:#C2C1C1 !important;
}
#contact-form-area-main .smf-action .smf-button-control__control[data-action="back"]:hover  {
background:#F1F1F1 !important;
}
#contact-form-area-main .smf-select-control {
width:auto !important;
}

@media (max-width: 768px) {
    #contact-form-area-main .smf-select-control {
        width:100% !important;
        }
}